*
!.codecov.yml
!.develatus-apparatus.js
!.dockerignore
!.eslintrc
!.gitattributes
!.github/FUNDING.yml
!.github/workflows/main.yml
!.gitignore
!.solhint.json
!.solhintignore
!Dockerfile
!LICENSE
!README.md
!SECURITY.md
!contracts/Bridge.sol
!contracts/GatedComputing.sol
!contracts/Inventory.sol
!contracts/InventoryStorage.sol
!contracts/LEVM.sol
!contracts/_Bridge.sol
!contracts/mocks/ERC20.sol
!contracts/mocks/ERC721.sol
!contracts/mocks/Faucet.sol
!contracts/mocks/TestContract.sol
!contracts/mocks/TestERC20.sol
!contracts/mocks/TestGatedComputing.sol
!contracts/mocks/TestLEVM.sol
!docs/FAQ.md
!docs/PublicTestnet.md
!docs/SystemDescriptionDocument.md
!evm/LICENSE
!evm/README.md
!evm/js/EVMRuntime.js
!evm/js/Opcodes.js
!evm/js/constants.js
!evm/js/index.js
!evm/js/precompiled/01-ecrecover.js
!evm/js/precompiled/02-sha256.js
!evm/js/precompiled/03-ripemd160.js
!evm/js/precompiled/04-identity.js
!evm/js/precompiled/05-modexp.js
!evm/js/precompiled/06-ecadd.js
!evm/js/precompiled/07-ecmul.js
!evm/js/precompiled/08-ecpairing.js
!evm/test/EVMRuntime.js
!evm/test/fixtures/runtime.js
!js/Block.js
!js/Bridge.js
!js/BridgeAbi.js
!js/Inventory.js
!js/Methods.js
!js/NutBerryRuntime.js
!js/Server.js
!js/Utils.js
!js/index.js
!nutberry-node.js
!package.json
!scripts/compile.js
!scripts/debug.js
!scripts/deploy.js
!scripts/faucet.js
!scripts/geth.js
!scripts/opcodeWhitelist.js
!scripts/parseCoverage.js
!scripts/transferTool.js
!test/0_bootstrap.js
!test/Bridge.js
!test/GatedComputing.js
!test/LEVM.js
!test/NutBerryRuntime.js
!yarn.lock
